#convert {
  background-color: #43c6db;
}
#convert:hover {
  background-color: #808080;
}
h1 {
  font-family: Times, "Times New Roman", Georgia, serif;
  color: #f535aa;
}
input {
  display: block;
  padding: 10px;
  margin-top: 12px;
  font-size: 1.5em;
  color: #0000ff;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
::-webkit-input-placeholder {
   color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
   color: #00ff00;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: #00ff00;  
}
:-ms-input-placeholder {  
   color: #00ff00;  
}
button {
  padding: 10px;
  font-size: 1em;
  color: #000000;
}
.container{
  width: 450px;
  background-color: ff00ff;
  padding: 30px 20px;
  border-radius: 15px;
  display: center;
  justify-content: space-between;

}
